In [40]:
import pandas as pd
import numpy as np
import string


tickers = list(string.ascii_uppercase)
sp1 = pd.DataFrame(index=tickers, columns = ["rnk"])
sp1.index.name = "ticker"
rnks = np.array(range(1, 27))
np.random.shuffle(rnks)
sp1.rnk = rnks
sp1.to_excel("Ranks.xlsx")

In [44]:
sp2 = sp1.copy()
sp2["price"] = np.random.uniform(low=10, high=100, size=26)
sp2.price = sp2.price.round(2)
sp2 = sp2.drop(columns=["rnk"])
sp2.to_excel("Prices.xlsx")

In [48]:
cash = 100000
target = 0.2

sp1 = pd.read_excel("Spreadsheet1.xlsx", index_col="ticker")
sp2 = pd.read_excel("Spreadsheet2.xlsx", index_col="ticker")
sp3 = sp1.join(sp2)
sp3['trade'] = np.where(sp.rnk<=5, cash*target/sp.price, 0)

In [50]:
sp4 = sp3.copy()
sp4 = sp4.rename(columns={"trade":"position"})
sp4 = sp4.drop(columns=["rnk", "price"])
sp4.to_excel("Positions.xlsx")
sp

        rnk  price  trade
ticker
A         8  60.03      0
B        11  22.32      0
C        14  26.12      0
D        17  29.90      0
E         6  86.90      0
F         1  54.39    367
G        10  73.89      0
H        25  65.00      0
I        21  78.83      0
J        19  92.41      0
K        22  84.92      0
L        18  81.63      0
M        13  83.47      0
N        12  66.13      0
O         4  98.56    202
P        20  57.08      0
Q        16  29.05      0
R        15  59.37      0
S        24  89.07      0
T        26  92.83      0
U         5  28.68    697
V         3  19.72   1014
W         7  53.41      0
X         2  93.56    213
Y        23  38.68      0
Z         9  30.62      0

In [49]:
sp

        rnk  price        trade
ticker
A         8  60.03     0.000000
B        11  22.32     0.000000
C        14  26.12     0.000000
D        17  29.90     0.000000
E         6  86.90     0.000000
F         1  54.39   367.714653
G        10  73.89     0.000000
H        25  65.00     0.000000
I        21  78.83     0.000000
J        19  92.41     0.000000
K        22  84.92     0.000000
L        18  81.63     0.000000
M        13  83.47     0.000000
N        12  66.13     0.000000
O         4  98.56   202.922078
P        20  57.08     0.000000
Q        16  29.05     0.000000
R        15  59.37     0.000000
S        24  89.07     0.000000
T        26  92.83     0.000000
U         5  28.68   697.350070
V         3  19.72  1014.198783
W         7  53.41     0.000000
X         2  93.56   213.766567
Y        23  38.68     0.000000
Z         9  30.62     0.000000